/* Modal Styling */
.modal-custom .chakra-modal__content {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-header {
    background-color: #292929;
    color: #fff;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 8px 0 0;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .modal-title {
    color: #333;
    font-size: 1.1rem;
  }
  
  .modal-input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    background-color: #fff;
  }
  
  .modal-input:focus {
    border-color: #7c3aed;
    box-shadow: 0px 0px 8px rgba(124, 58, 237, 0.4);
  }
  
  .select-all-checkbox {
    font-weight: bold;
    color: #333;
  }
  
  .save-button {
    background-color: #7c3aed;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .save-button:hover {
    background-color: #6b29bd;
  }
  
  .cancel-button {
    padding: 10px 20px;
    border-radius: 8px;
    color: #000;
    border: 2px solid #ccc;
  }
  
  .cancel-button:hover {
    background-color: #f7f7f7;
  }
  
  /* Error Message */
  .chakra-form__error-message {
    color: red;
    font-size: 12px;
    font-weight: normal;
  }
  